.scroll{
    background-color: steelblue;
    color:white;
    font-weight: bold;
}
.mar_a{
    text-decoration:none;
    color:crimson; 
}
.in_p{
    color:crimson;
}
.outer{
    background-color: steelblue;
}